__pycache__/**
__pycache__/scrape_class_results.cpython-314.pyc
__pycache__/scrape_class_nonplacing_results.cpython-314.pyc
__pycache__/scrape_class_results.cpython-314.pyc
__pycache__/scrape_class_nonplacing_results.cpython-314.pyc